
importFrom(utils, URLencode)
importFrom(httr, GET)
importFrom(XML, xmlParse)
importFrom(XML, xpathApply)
importFrom(XML, xmlToList)
importFrom(XML, xmlToDataFrame)
importFrom(jsonlite, fromJSON)
importFrom(stringr, str_pad)

export(keyStatList)
export(statItemList)
export(statMeta)
export(statSearch)
export(statTableList)
export(statWord)
